.wrapper {
    padding: 20px 8px 24px 8px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}

.label {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
}

.login-btn {
    width: 100%;
    margin-top: 20px;
    font-weight: 700;
}
